@mixin respond-to($breakpoint) {
    @if $breakpoint == "mobile" {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $breakpoint == "tablet" {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $breakpoint == "desktop" {
        @media (min-width: 1025px) {
            @content;
        }
    }
}
